body {
    background-color: #000;
    color: #ccc;
}
.text {
    color: #fff;
    font-family: monospace;
}
h1 {
    color: yellow ;
}
h3 {
    color: #deadd00d;
}
.error {
    color: #f00;
}

a{
    text-decoration: none;
}
.allfonts {
    font-size: 80%;
}
